.lang-switch {
  position: absolute;
  top: 2%;
  right: 2%;
}

.toggle {
  display: inline-block;
  width: 2.5rem;
  height: 1.5rem;
  border: 1px solid var(--yellow);
  position: relative;
  margin-bottom: 10%;
  cursor: pointer;
  background-color: var(--lightteal);
}

.toggle input {
  display: none;
}

.toggle .labels {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
}

.toggle .labels::after {
  content: attr(data-off);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: white;
  background-color: black;
  text-align: center;
  transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
  content: attr(data-on);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: white;
  background-color: black;
  text-align: center;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.toggle input:checked ~ .labels::after {
  transform: rotateY(180deg);
  opacity: 0;
}

.toggle input:checked ~ .labels::before {
  transform: rotateY(180deg) scale(-1, 1);
  opacity: 1;
}

.nav-btn {
  width: 2rem;
  height: 2rem;
  background-image: url('/public/img/hamburger-icon-fill.svg');
  background-size: contain;
  margin: 0.5rem;
  cursor: pointer;
  border-style: none;
  border-color: none;
  border-width: 0;
}

.nav-btn:focus {
  outline: 1px solid;
  outline-color: #b18c3e;
}

.nav-mobile {
  background-color: var(--background);
  padding: 3%;
  display: flex;
  flex-direction: column;
}

.nav-mobile a {
  font-size: 0.75rem;
  color: var(--text);
  text-decoration: none;
  margin-bottom: 2%;
  z-index: 99;
}

.nav-mobile a:hover,
.nav-mobile a:active,
.nav-mobile a:focus {
  border-bottom: 1px solid var(--text);
}

.nav-mobile--closed {
  display: none;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;
  border-bottom: 4px solid var(--darkteal);
}

nav a {
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--text);
  text-decoration: none;
  padding: 0.5rem;
}

nav a:hover {
  font-size: 1.75rem;
}

nav a:active,
nav a:focus {
  border-bottom: 1px solid var(--yellow);
  border-left: 1px solid var(--yellow);
  font-size: 1.6rem;
}

@media (max-width: 540px) {
  nav {
    display: none;
  }
  nav a {
    font-size: 1rem;
  }
  .toggle {
    width: 2rem;
    height: 1.5rem;
  }
  .toggle .labels {
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  nav a {
    font-size: 1.2rem;
  }
  nav a:hover {
    font-size: 1.4rem;
  }

  nav a:active,
  nav a:focus {
    font-size: 1.3rem;
  }
}

@media (min-width: 540px) {
  .nav-btn {
    display: none;
  }
  .nav-mobile {
    display: none;
  }
}
