.navigation {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: var(--azure);
}

.lang-switch {
  position: absolute;
  top: 3%;
  left: 2%;
}

.toggle {
  display: inline-block;
  width: 2.5rem;
  height: 1.5rem;
  padding: 0.5rem;
  border: 1px solid var(--thulian-pink);
  position: relative;
  margin-bottom: 10%;
  cursor: pointer;
}

.toggle input {
  display: none;
}

.toggle .labels {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  background-color: var(--thulian-pink);
}

.toggle .labels::after {
  content: attr(data-off);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: var(--azure);
  background-color: black;
  text-align: center;
  transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
  content: attr(data-on);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: var(--azure);
  background-color: black;
  text-align: center;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.toggle input:checked ~ .labels::after {
  transform: rotateY(180deg);
  opacity: 0;
}

.toggle input:checked ~ .labels::before {
  transform: rotateY(180deg) scale(-1, 1);
  opacity: 1;
}

.mobile-menu {
  max-height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.nav-btn {
  width: 2rem;
  height: 2rem;
  background-image: url('/public/img/hamburger-icon.png');
  background-color: black;
  background-size: contain;
  margin: 1rem;
  cursor: pointer;
  border-style: none;
  border-color: none;
  border-width: 0;
}

.nav-mobile {
  background-color: black;
  padding: 3%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.nav-mobile a {
  font-size: 0.75rem;
  color: var(--azure);
  text-decoration: none;
  margin-bottom: 10%;
  z-index: 99;
  white-space: nowrap;
}

.nav-mobile a:hover,
.nav-mobile a:active,
.nav-mobile a:focus {
  border-bottom: 1px solid var(--teal);
}

.nav-mobile--closed {
  display: none;
}

.nav-desktop {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.nav-desktop a {
  margin: 0.5rem;
  font-size: 1.2rem;
  color: var(--azure);
  text-decoration: none;
  padding: 0.5rem;
}

.nav-desktop a:hover {
  border-bottom: 1px solid var(--teal);
}

.nav-desktop a:active,
.nav-desktop a:focus {
  border-bottom: 1px solid var(--teal);
  font-size: 1.3rem;
}

@media (max-width: 768px) {
  .nav-desktop {
    display: none;
  }

  .toggle {
    width: 1.5rem;
    height: 1rem;
  }

  .toggle .labels {
    font-size: 0.6rem;
  }
}

@media (min-width: 769px) {
  .mobile-menu {
    display: none;
  }
}
