.home {
  display: flex;
  flex-direction: column;
}

.intro {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
}

.intro__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.intro__right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.intro__logo {
  display: block;
  width: 100%;
}

.intro__photo img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 40px;
}

.text {
  padding: 2% 4%;
  line-height: 1.5;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 100%;
  padding-bottom: 1rem;
  margin-top: 1rem;
}

.contact img {
  width: 50px;
  height: 50px;
  filter: invert(100%);
  cursor: pointer;
}

.contact img:hover {
  transform: scale(1.1);
}

.contact-form__btn {
  background-color: var(--thulian-pink);
  color: var(--azure);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  padding: 1%;
  align-items: center;
  border: 1px solid var(--teal);
  border-radius: 10px;
  cursor: pointer;
  min-width: max-content;
  max-height: max-content;
}

.contact-form__btn:hover {
  transform: scale(1.1);
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.contact-form label {
  width: 100%;
  line-height: 1.5;
}

.contact-form input[type='text'],
input[type='email'] {
  background-color: var(--azure);
  color: black;
  font-family: 'open sans', sans-serif;
  font-size: 1.1rem;
  width: 100%;
  height: 3rem;
  margin-bottom: 1rem;
  border: 2px solid var(--teal);
  outline: none;
}

.contact-form input[type='text']:focus,
input[type='email']:focus,
textarea:focus {
  outline: 1px solid var(--thulian-pink);
}

.contact-form textarea {
  background-color: var(--azure);
  color: black;
  font-size: 1.1rem;
  font-family: 'open sans', sans-serif;
  width: 100%;
  line-height: 1.5;
  margin-bottom: 1rem;
  border: 2px solid var(--teal);
}

@media (max-width: 768px) {
  .intro {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .intro__left {
    width: 100%;
  }

  .intro__right {
    width: 100%;
  }

  .text {
    font-size: 0.9rem;
    text-align: center;
    padding: 5% 0;
  }

  .contact {
    margin-top: 1.5rem;
  }

  .contact-form__btn {
    font-size: 0.9rem;
    font-weight: 300;
    padding: 1.5%;
  }

  .contact img {
    width: 35px;
    height: 35px;
  }

  .contact-form input[type='text'],
  input[type='email'] {
    height: 1.5rem;
  }
}

@media (min-width: 769px) {
  .contact-form__btn {
    font-size: 1.1rem;
  }
  .contact-form {
    font-size: 1rem;
  }
}

@media (min-width: 1281px) {
  .text {
    font-size: 1.2rem;
  }
}

@media (min-width: 1601px) {
  .text {
    font-size: 1.5rem;
  }
  .contact-form__btn {
    font-size: 1.5rem;
  }
  .contact img {
    width: 60px;
    height: 60px;
  }
  .contact-form {
    font-size: 1.1rem;
  }
}
