.hide {
  display: none;
}

.intro {
  margin: 0 5%;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  min-height: 0;
}

.intro__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 2);
  margin-top: 5%;
}

.intro__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(100% / 2);
  margin: 3% auto;
}

.info__photo img {
  max-width: 100%;
  display: block;
  box-shadow: 1px 1px 25px var(--darkteal);
}

.info__text {
  min-width: 0;
  line-height: 1.5;
  text-align: left;
  font-size: 16px;
  flex: 1 1 0;
}

.soc-net {
  display: flex;
  justify-content: center;
  gap: 10%;
  margin: 5% auto;
  padding-right: 3%;
  width: 100%;
}

.soc-net img {
  width: 50px;
  height: 50px;
  filter: invert(100%);
  cursor: pointer;
}

.soc-net--hide {
  display: none;
}

.contact-form__btn {
  background-color: var(--yellow);
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 1%;
  align-items: center;
  border: 2px solid black;
  border-style: outset;
  cursor: pointer;
  min-width: max-content;
  margin: 5% 3% 5% 0;
}

.contact-form__btn--back {
  margin: 2% auto;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
  position: sticky;
  top: 0;
}

.contact-form label {
  width: 100%;
  margin-bottom: 3%;
  line-height: 1.5;
}

.contact-form input[type='text'],
input[type='email'] {
  background-color: var(--grey);
  width: 100%;
  height: 2rem;
}

.contact-form textarea {
  background-color: var(--grey);
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

.contact-form--closed {
  display: none;
}

@media (max-width: 540px) {
  .intro {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
  }
  .intro__left {
    width: 100%;
  }
  .intro__logo {
    max-width: 100%;
  }
  .intro__info {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .info__photo img {
    width: 80%;
    margin: 5% auto;
  }
  .info__text {
    font-size: 14px;
    text-align: center;
    padding: 0 5%;
  }
  .soc-net img {
    width: 35px;
    height: 35px;
  }
  .contact-form {
    max-width: 92%;
  }
  .contact-form input[type='text'],
  input[type='email'] {
    height: 1.5rem;
  }
}

@media (min-width: 540px) {
  .intro__left {
    flex: 0 1 100vh;
    width: 0;
  }
  .intro__logo video {
    height: 400px;
  }
  .intro__info {
    flex: 0 1 100vh;
    width: 0;
    padding: 0 0 3% 5%;
    border-left: 1px solid var(--yellow);
  }
  .info__text {
    margin-top: 5%;
  }
  .soc-net img {
    width: 40px;
    height: 40px;
  }
  .contact-form__btn {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .info__text {
    font-size: 18px;
  }
  .intro__info img {
    max-height: 80%;
  }
  .info__text {
    margin-top: -5%;
  }
  .soc-net img {
    width: 50px;
    height: 50px;
  }
  .contact-form__btn {
    font-size: 20px;
  }
  .contact-form {
    font-size: 18px;
  }
  .contact-form__btn {
    font-size: 20px;
  }
}
