@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

:root {
  --background: black;
  --text: white;
  --darkteal: #174552;
  --mediumteal: #1b5666;
  --lightteal: #678c95;
  --yellow: #b18c3e;
  --grey: #d7d8dc;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--background);
  color: var(--text);
}

header {
  margin-top: 2rem;
  height: 6rem;
  color: var(--text);
  background-color: var(--background);
}
